html {
    --colorBrandedBulletin: 255, 236, 181;
--colorBrandedBulletin25: 250, 250, 249;
--colorBrandedBulletin50: 243, 242, 238;
--colorBrandedBulletin100: 234, 230, 219;
--colorBrandedBulletin200: 210, 204, 188;
--colorBrandedBulletin300: 192, 179, 143;
--colorBrandedBulletin400: 172, 153, 98;
--colorBrandedBulletin500: 136, 117, 62;
--colorBrandedBulletin600: 121, 102, 47;
--colorBrandedBulletin700: 96, 77, 22;
--colorBrandedBulletin800: 69, 51, 0;
--colorBrandedBulletin900: 35, 26, 0;
--colorBrandedBulletinHover: 121, 102, 47;
--colorBrandedBulletinHoverOnColor: 255, 255, 255;
--colorBrandedBulletinPressed: 96, 77, 22;
--colorBrandedBulletinPressedOnColor: 255, 255, 255;
--colorBrandedBulletinAccessible: 121, 102, 47;
--colorBrandedBulletinOnColor: 0, 0, 0;
--colorBrandedCaution: 254, 193, 45;
--colorBrandedCaution25: 254, 254, 245;
--colorBrandedCaution50: 255, 249, 229;
--colorBrandedCaution100: 255, 240, 199;
--colorBrandedCaution200: 255, 217, 128;
--colorBrandedCaution300: 255, 194, 41;
--colorBrandedCaution400: 214, 150, 0;
--colorBrandedCaution500: 163, 115, 0;
--colorBrandedCaution600: 142, 101, 0;
--colorBrandedCaution700: 107, 76, 0;
--colorBrandedCaution800: 71, 50, 0;
--colorBrandedCaution900: 36, 26, 0;
--colorBrandedCautionHover: 142, 101, 0;
--colorBrandedCautionHoverOnColor: 255, 255, 255;
--colorBrandedCautionPressed: 142, 101, 0;
--colorBrandedCautionPressedOnColor: 255, 255, 255;
--colorBrandedCautionAccessible: 142, 101, 0;
--colorBrandedCautionOnColor: 0, 0, 0;
--colorBrandedCautionLight: 252, 246, 243;
--colorBrandedCautionTimeout: 158, 68, 15;
--colorBrandedCautionTimeoutLight: 245, 221, 209;
--colorBrandedError: 206, 22, 22;
--colorBrandedError25: 252, 247, 247;
--colorBrandedError50: 249, 236, 236;
--colorBrandedError100: 248, 216, 216;
--colorBrandedError200: 237, 182, 182;
--colorBrandedError300: 237, 151, 151;
--colorBrandedError400: 255, 109, 109;
--colorBrandedError500: 246, 62, 62;
--colorBrandedError600: 231, 47, 47;
--colorBrandedError700: 206, 22, 22;
--colorBrandedError800: 170, 0, 0;
--colorBrandedError900: 87, 0, 0;
--colorBrandedErrorHover: 231, 47, 47;
--colorBrandedErrorHoverOnColor: 0, 0, 0;
--colorBrandedErrorPressed: 231, 47, 47;
--colorBrandedErrorPressedOnColor: 0, 0, 0;
--colorBrandedErrorAccessible: 206, 22, 22;
--colorBrandedErrorOnColor: 255, 255, 255;
--colorBrandedErrorLight: 252, 243, 243;
--colorBrandedErrorTimeout: 170, 18, 18;
--colorBrandedErrorTimeoutLight: 245, 221, 209;
--colorBrandedInfo: 2, 103, 193;
--colorBrandedInfo25: 250, 250, 250;
--colorBrandedInfo50: 236, 242, 249;
--colorBrandedInfo100: 214, 232, 245;
--colorBrandedInfo200: 173, 209, 240;
--colorBrandedInfo300: 135, 190, 238;
--colorBrandedInfo400: 79, 172, 255;
--colorBrandedInfo500: 36, 137, 227;
--colorBrandedInfo600: 21, 122, 212;
--colorBrandedInfo700: 0, 96, 182;
--colorBrandedInfo800: 0, 64, 121;
--colorBrandedInfo900: 0, 33, 62;
--colorBrandedInfoHover: 21, 122, 212;
--colorBrandedInfoHoverOnColor: 0, 0, 0;
--colorBrandedInfoPressed: 21, 122, 212;
--colorBrandedInfoPressedOnColor: 0, 0, 0;
--colorBrandedInfoAccessible: 0, 96, 182;
--colorBrandedInfoOnColor: 255, 255, 255;
--colorBrandedInfoLight: 242, 247, 252;
--colorBrandedInfoTimeout: 2, 81, 151;
--colorBrandedInfoTimeoutLight: 208, 227, 246;
--colorBrandedSuccess: 27, 124, 53;
--colorBrandedSuccess25: 247, 252, 252;
--colorBrandedSuccess50: 236, 249, 240;
--colorBrandedSuccess100: 217, 242, 223;
--colorBrandedSuccess200: 180, 223, 192;
--colorBrandedSuccess300: 140, 203, 157;
--colorBrandedSuccess400: 93, 190, 119;
--colorBrandedSuccess500: 57, 154, 83;
--colorBrandedSuccess600: 42, 139, 68;
--colorBrandedSuccess700: 17, 114, 43;
--colorBrandedSuccess800: 0, 82, 22;
--colorBrandedSuccess900: 0, 42, 11;
--colorBrandedSuccessHover: 42, 139, 68;
--colorBrandedSuccessHoverOnColor: 0, 0, 0;
--colorBrandedSuccessPressed: 42, 139, 68;
--colorBrandedSuccessPressedOnColor: 0, 0, 0;
--colorBrandedSuccessAccessible: 27, 124, 53;
--colorBrandedSuccessOnColor: 255, 255, 255;
--colorBrandedSuccessLight: 243, 248, 245;
--colorBrandedSuccessTimeout: 20, 92, 39;
--colorBrandedSuccessTimeoutLight: 215, 234, 223;
--colorPlatformAlpha25: 0.96;
--colorPlatformAlpha50: 0.88;
--colorPlatformAlpha75: 0.76;
--colorPlatformAlpha100: 0.04;
--colorPlatformAlpha200: 0.08;
--colorPlatformAlpha300: 0.16;
--colorPlatformAlpha400: 0.24;
--colorPlatformAlpha500: 0.4;
--colorPlatformAlpha600: 0.64;
--colorPlatformAlpha700: 0.8;
--colorPlatformAlpha800: 0.88;
--colorPlatformAlpha900: 0.96;
--colorPlatformWhite: 255, 255, 255;
--colorPlatformGray25: 250, 250, 250;
--colorPlatformGray50: 242, 242, 242;
--colorPlatformGray100: 230, 230, 230;
--colorPlatformGray200: 204, 204, 204;
--colorPlatformGray300: 179, 179, 179;
--colorPlatformGray400: 153, 153, 153;
--colorPlatformGray500: 117, 117, 117;
--colorPlatformGray600: 102, 102, 102;
--colorPlatformGray700: 77, 77, 77;
--colorPlatformGray800: 51, 51, 51;
--colorPlatformGray900: 26, 26, 26;
}

html {
    --colorBrandedAffordance: 51, 47, 33;
    --colorBrandedAffordance25: 250, 250, 250;
    --colorBrandedAffordance50: 242, 242, 241;
    --colorBrandedAffordance100: 231, 230, 227;
    --colorBrandedAffordance200: 205, 204, 200;
    --colorBrandedAffordance300: 182, 179, 170;
    --colorBrandedAffordance400: 157, 153, 139;
    --colorBrandedAffordance500: 121, 117, 103;
    --colorBrandedAffordance600: 106, 102, 88;
    --colorBrandedAffordance700: 81, 77, 63;
    --colorBrandedAffordance800: 55, 51, 37;
    --colorBrandedAffordance900: 30, 26, 12;
    --colorBrandedAffordanceAccessible: 51, 47, 33;
    --colorBrandedAffordanceOnColor: 255, 255, 255;
    --colorBrandedAffordanceHover: 25, 21, 7;
    --colorBrandedAffordanceHoverOnColor: 255, 255, 255;
    --colorBrandedAffordancePressed: 0, 0, 0;
    --colorBrandedAffordancePressedOnColor: 255, 255, 255;
    --colorBrandedAffordanceSelected: 205, 204, 200;
    --colorBrandedAffordanceSelectedOnColor: 30, 26, 12;
    --colorBrandedHover: 231, 230, 227;
    --colorBrandedPressed: 231, 230, 227;
    --colorBrandedSelected: 205, 204, 200;
    --colorBrandedFocused: 51, 47, 33;
}

html {
    --styleBrandedFormField: filled;
    --surfacePlatformRaisedBackgroundColor: 255, 255, 255;
    --surfacePlatformRaisedShadowColor: 26, 26, 26;
    --surfacePlatformRaisedShadowBlurResting: 24px;
    --surfacePlatformRaisedShadowBlurLifted: 40px;
    --surfacePlatformRaisedShadowBlurPressed: 8px;
    --surfacePlatformRaisedShadowY: 8;
    --surfacePlatformRaisedShadowOpacity: 24%;
    --surfacePlatformRaisedShadowSpread: -8;
    --surfaceBrandedBackgroundColor: 255, 255, 255;
    --surfaceBrandedBaseColor: 255, 255, 255;
    --surfaceBrandedBaseBorderColor: 255, 255, 255;
    --surfaceBrandedRaisedShadowColor: 26, 26, 26;
    --elevationPlatformBackgroundSurfaceBackgroundColor: 255, 255, 255;
    --elevationPlatformBackgroundSurfaceBorderColor: none;
    --elevationPlatformBaseSurfaceBackgroundColor: 255, 255, 255;
    --elevationPlatformBaseSurfaceBorderColor: 242, 242, 242;
    --elevationPlatformRestingSurfaceBackgroundColor: 255, 255, 255;
    --elevationPlatformRestingSurfaceBorderColor: none;
    --elevationPlatformRestingSurfaceBoxShadow: 0 4px 24px 0 rgba(26, 26, 26, 0.24);
    --elevationPlatformLiftedSurfaceBackgroundColor: 255, 255, 255;
    --elevationPlatformLiftedSurfaceBorderColor: none;
    --elevationPlatformLiftedSurfaceBoxShadow: 0 4px 40px 0 rgba(26, 26, 26, 0.24);
    --elevationPlatformPressedSurfaceBackgroundColor: 255, 255, 255;
    --elevationPlatformPressedSurfaceBorderColor: none;
    --elevationPlatformPressedSurfaceBoxShadow: 0 4px 8px 0 rgba(26, 26, 26, 0.24);
    --elevationBrandedBackgroundColor: 255, 255, 255;
    --elevationBrandedBorderColor: 255, 255, 255;
    --elevationBrandedRestingBoxShadow: 0 4px 24px 0 rgba(26, 26, 26, 0.24);
    --elevationBrandedLiftedBoxShadow: 0 4px 40px 0 rgba(26, 26, 26, 0.24);
    --elevationBrandedPressedBoxShadow: 0 4px 8px 0 rgba(26, 26, 26, 0.24);
    --shapeLargeComponentSharp: 0;
    --shapeLargeComponentSoft: 4px;
    --shapeLargeComponentRounded: 24px;
    --shapeMediumComponentSharp: 0;
    --shapeMediumComponentSoft: 4px;
    --shapeMediumComponentSquircle: 16px;
    --shapeSmallComponentSharp: 0;
    --shapeSmallComponentSoft: 4px;
    --shapeSmallComponentSquircle: 12px;
    --shapeSmallComponentRounded: 100%;
    --shapeLargeComponentSquircle: 16px;
    --shapeMediumComponentRounded: 16px;
    --shapeBrandedSharp: 0;
    --shapeBrandedSoft: 4px;
    --shapeBrandedRound: 24px;
    --shapeBrandedSquircle: 16px;
    --shapeBranded: 0;
    --shapeBrandedSmallTL: 24px;
    --shapeBrandedSmallTR: 24px;
    --shapeBrandedSmallBR: 24px;
    --shapeBrandedSmallBL: 24px;
    --shapeBrandedSmall: var(--shapeBrandedSmallTL) var(--shapeBrandedSmallTR) var(--shapeBrandedSmallBR) var(--shapeBrandedSmallBL);
    --shapeBrandedMediumTL: 24px;
    --shapeBrandedMediumTR: 24px;
    --shapeBrandedMediumBR: 24px;
    --shapeBrandedMediumBL: 24px;
    --shapeBrandedMedium: var(--shapeBrandedMediumTL) var(--shapeBrandedMediumTR) var(--shapeBrandedMediumBR) var(--shapeBrandedMediumBL);
    --shapeBrandedLargeTL: 24px;
    --shapeBrandedLargeTR: 24px;
    --shapeBrandedLargeBR: 24px;
    --shapeBrandedLargeBL: 24px;
    --shapeBrandedLarge: var(--shapeBrandedLargeTL) var(--shapeBrandedLargeTR) var(--shapeBrandedLargeBR) var(--shapeBrandedLargeBL);
    --spacingPlatformNano: 4px;
    --spacingPlatformTiny: 8px;
    --spacingPlatformSmall: 16px;
    --spacingPlatformBase: 24px;
    --spacingPlatformBig: 40px;
    --spacingPlatformHuge: 64px;
    --spacingPlatformGigantic: 104px;
    --spacingBrandedCompact: 8px;
    --spacingBrandedCozy: 16px;
    --spacingBrandedComfortable: 24px;
    --colorBrandedHighEmphasisBackground: 51, 47, 33;
    --colorBrandedHighEmphasisBackgroundOnColor: 255, 255, 255;
    --motionTimeNano: 50ms;
    --motionTimeExtraFast: 100ms;
    --motionTimeFast: 150ms;
    --motionTimeModerate: 200ms;
    --motionTimeModerateSlow: 250ms;
    --motionTimeSlow: 300ms;
    --motionTimeExtraSlow: 500ms;
    --motionTimingFunctionStandard: cubic-bezier(0.5, 0, 0.2, 1);
    --motionTimingFunctionAcceleration: cubic-bezier(0.4, 0, 0.9, 0.3);
    --motionTimingFunctionDeceleration: cubic-bezier(0.2, 0.2, 0.1, 1);
    --motionTimingFunctionLinear: cubic-bezier(0, 0, 1, 1);
    --typeBrandedFontFamilyFallbacks: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedDisplayFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedDisplayFontWeight: 600;
    --typeBrandedDisplayCharacterSpacing: -1px;
    --typeBrandedDisplayTextTransform: none;
    --typeBrandedLargeHeadingFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedLargeHeadingFontWeight: 800;
    --typeBrandedLargeHeadingCharacterSpacing: -0.25px;
    --typeBrandedLargeHeadingTextTransform: none;
    --typeBrandedMediumHeadingFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedMediumHeadingFontWeight: 800;
    --typeBrandedMediumHeadingCharacterSpacing: 0;
    --typeBrandedMediumHeadingTextTransform: none;
    --typeBrandedSmallHeadingFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedSmallHeadingFontWeight: 800;
    --typeBrandedSmallHeadingCharacterSpacing: 0.5px;
    --typeBrandedSmallHeadingTextTransform: none;
    --typeBrandedSubtitle1FontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedSubtitle1FontWeight: 600;
    --typeBrandedSubtitle1CharacterSpacing: -0.1pt;
    --typeBrandedSubtitle2FontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedSubtitle2FontWeight: 600;
    --typeBrandedSubtitle2CharacterSpacing: 0.1pt;
    --typeBrandedBody1FontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedBody1FontWeight: 400;
    --typeBrandedBody1CharacterSpacing: 0.1pt;
    --typeBrandedBody2FontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedBody2FontWeight: 400;
    --typeBrandedBody2CharacterSpacing: 0.2pt;
    --typeBrandedCaptionFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedCaptionFontWeight: 400;
    --typeBrandedCaptionCharacterSpacing: 0.2pt;
    --typeBrandedOverlineFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedOverlineFontWeight: 600;
    --typeBrandedOverlineTextTransform: uppercase;
    --typeBrandedOverlineCharacterSpacing: 0.6pt;
    --typeBrandedButtonFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --typeBrandedButtonFontWeight: 800;
    --typeBrandedButtonCharacterSpacing: 0.5px;
    --typeBrandedButtonTextTransform: none;
}